<!--detta är basen till alla html som behöver. navigeringsfället ändras om användaren är inloggad-->
<!--under utvecklingen använde jag Bootstrap-webbplatsen version 4.3 att fokusera på strukturen för phytonkoden. BS kan ersättas med
en mer anständig version eller med var egen html och css kod-->
<!--om du vill lägga till ngn csskod finns sökvägen edan och filen finns i mappen .static/CSS/style.css-->
<!DOCTYPE html>
<html lang="en">
<!-- Ska det verkligen vara engelska, inte svenska?-->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title> {% block title%} {% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          {% if user.is_authenticated %}
          <a class="nav-link" id="home" href="/">Bokhyllan<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Böcker
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="all-books-nav" href="/all-books">Alla böcker</a>
            <a class="dropdown-item" id="random-book-nav" href="/random-book">Slumpa fram en bok</a>
            <a class="dropdown-item" id="user-books-nav" href="/user-books">Min bokhylla</a>
            <a class="dropdown-item" id="add-book-nav" href="/add-book">Ladda upp en bok</a>
          </div>
        <li class="nav-item">
          <a class="nav-link" href="/policy">Användarvillkor</a>
          {% endif %}
        </li>
        {% if user.is_authenticated %}
        <!-- Nav drop down som kopplas till javascrip som gör det möjligt att ändra färgapalett på sidan. -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="valjdinfarg" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Välj din färg!
          </a>
          <div class="dropdown-menu" aria-labelledby="valjdinfarg">
            <a class="dropdown-item no-bullet" href="#" onclick="setTheme('default')">Default</a>
            <a class="dropdown-item no-bullet" href="#" onclick="setTheme('dark')">Inverterad</a>
          </div>
          {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Profil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if not user.is_authenticated %}
            <a class="dropdown-item" id="login" href="/login">Logga in</a>
            <a class="dropdown-item" id="signUp" href="/sign-up">Registrera</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="dropdown-item" id="redigera_profil" href="/edit-profile">Redigera profil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="logout" href="/logout">Logga ut</a>
            {% endif %}
          </div>
        </li>
        </li>
      </ul>
    </div>
  </nav>

<!-- Flashmeddelande under navbar -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show fade-out" role="alert" id="flash-message">
          {{ message }}
        </div>
      {% else %}
        <div class="alert alert-success alert-dismissible fade show fade-out" role="alert" id="flash-message">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}


  <script>
    setTimeout(function() {
      var flashMessage = document.getElementById('flash-message');
      if (flashMessage) {
        flashMessage.style.display = 'none';
      }
    }, 5000);
  </script>



  <!-- Container för respektive sidas huvudinnehåll -->
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <!-- Går det att ändra indenteringen här eller fuckar allt då? /J-->
  {% block javascript %}
  <script type="text/javascript">
    function deleteBio(bioId) {
      fetch("/delete-bio", {
        method: "POST",
        body: JSON.stringify({ bioId: bioId }),
      }).then((_res) => {
        window.location.href = "/";
      });
    }
  </script>
  {% endblock %}

  <script>
    // Function to activate the selected theme
    function setTheme(theme) {
      const body = document.querySelector('body');
      const navbar = document.querySelector('.navbar');
      const navbarTogglerIcon = document.querySelector('.navbar-toggler-icon');
      const navbarToggler = document.querySelector('.navbar-toggler');
  
      switch (theme) {
        case 'default':
          body.classList.remove('dark'); // Remove the 'dark' class from body
          navbar.classList.remove('navbar-dark'); // Remove the 'navbar-dark' class from navbar
          navbarTogglerIcon.classList.remove('dark-icon'); // Remove the 'dark-icon' class from the toggler icon
          navbarToggler.classList.remove('dark-button'); // Remove the 'dark-button' class from the toggler button
          break;
        case 'dark':
          body.classList.add('dark'); // Add the 'dark' class to body
          navbar.classList.add('navbar-dark'); // Add the 'navbar-dark' class to navbar
          navbarTogglerIcon.classList.add('dark-icon'); // Add the 'dark-icon' class to the toggler icon
          navbarToggler.classList.add('dark-button'); // Add the 'dark-button' class to the toggler button
          break;  
      }
  
      // Store the selected theme
      localStorage.setItem('selectedTheme', theme);
    }
  
    // Check local storage to maintain the selected theme consistency
    const selectedTheme = localStorage.getItem('selectedTheme');
    if (selectedTheme) {
      setTheme(selectedTheme);
    }
  </script>
  

  


  

</body>

</html>