<!--detta är basen till alla html som behöver. navigeringsfället ändras om användaren är inloggad-->
<!--under utvecklingen använde jag Bootstrap-webbplatsen version 4.3 att fokusera på strukturen för phytonkoden. BS kan ersättas med
en mer anständig version eller med var egen html och css kod-->
<!--om du vill lägga till ngn csskod finns sökvägen edan och filen finns i mappen .static/CSS/style.css-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> {% block title%} {% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
  crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              {% if user.is_authenticated %}
              <a class="nav-link" id ="home" href="/">Bokhyllan<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Böcker
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" id="addbook" href="/add-book">Din boksamling</a>
                <a class="dropdown-item" id="#" href="/all-books">Alla Böcker</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Användarvillkor</a>
              {% endif %}
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profil
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if not user.is_authenticated %}
                <a class="dropdown-item" id="login" href="/login">Logga in</a>
                <a class="dropdown-item" id="signUp" href="/sign-up">Registrera</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a class="dropdown-item" id="redigera_profil" href="/edit-profile">Redigera profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="logout" href="/logout">Logga ut</a>
                {% endif %}
                
              </div>
            </li>
          </ul>

        </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message  in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-sismissable fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-sismissable fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}


      <div class="container">
        {% block content %}
        {% endblock %}
      </div>


    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  {% block javascript %}
    <script type="text/javascript">
      function deleteBio(bioId) {
  fetch("/delete-bio", {method: "POST",
    body: JSON.stringify({ bioId: bioId }),
  }).then((_res) => {
    window.location.href = "/";
  });
  }
</script>
{% endblock %}

</div>
<footer>
    <p>&nbsp Projektgrupp BokHyllan 03</p>
</footer>

  </body>
</html>