{% extends "base.html" %}
{% block title %}Error 500{% endblock %}
{% block content %}

<div id="error-500-div">
    <div class="error-info">
        <h1> Down the rabbithole! </h1>
        <p> Internt fel på severn (Error 500)</p>
    </div>

    <div class="quote500">
        <h2 >{{quote}}</h2>
        </br>
        <h3>- Lewis Carroll</h3>
    </div>
    
    <div>
        <img src="§">
    </div>

    <div id="drink-me">
        <h3>Vill du dricka denna dryck för att försöka ta dig tillbaka?</h3>
        <a href=""><img src="bottle-image.png"></a>
    </div>  
    <p><a länk tillbaka></a> #infoga  </p>      
</div>    
   

{% endblock %}