<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Error 404</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    </head>
    <body>
        <h1> Error 500 </h1>
        <p> Internt fel på severn, oflyt!</p>

        <h1>{{quote}}</h1>
    </br>
        <h1>-Lewis Carroll</h1>
        

        <p> länk tillbaka</p> #infoga
    </body>
</html>
