{% extends "base.html" %}
{% block title %}Error 404{% endblock %}
{% block content %}

<div id="error-404-div">
    <div class="error-info">
        <h1> Ohh Alice, you're lost in Wonderland!! </h1>
        <p>Sidan du försökte nå går tyvärr inte att nå (404 Error) </p>
    </div>

    <div class="quote404">   
        <h2 >{{quote}}</h2>
        </br>
        <h3>- Lewis Carroll</h3>
    </div>
        
    <div id="drink-me">
        <h3>Vill du dricka denna dryck för att ta dig tillbaka?</h3>
        <a href=""><img src="bottle-image.png"></a>
    </div> 
    
    <div>
        <img src="">
    </div>

    <p><a href="home.html" länk tillbaka för den som inte har js></a>#infoga</p>   
</div>


{% endblock %}
