{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div id="error-505-div">
    <div class="error-info">
        <h1>Ohhh - Who are Alice?</h1>
        <p> Användaren kunde tyvärr inte hittas (Error 505)</p>
    </div>

    <div class="quote505">
        <h2 >{{quote}}</h2>
        </br>
        <h3>- Lewis Carroll</h3>
    </div> 
    
    <div>
        <img src="">
    </div>
    
    <div id="drink-me">
        <h3>Vill du ha en ny chans?</h3>
        <a href="sign_up.html"><img src="bottle-image.png"></a>
    </div>     
     
    <p><a länk tillbaka></a> #infoga  </p>   
    
</div>   


{% endblock %}