{% extends 'base.html' %}
{% block title %}Användarvillkor{% endblock %}
{% block content %}

    <div id="policy-div">
        <h1 id="policyh1">Bokhyllans Användarvillkor!</h1>

        <p class="spacing">
            Syfte:
        </br>
            1. Genom att logga in till Bokhyllan webbtjänst och godkänna användarvillkoren,
            använda webbtjänsten för byte av böcker.
        </br>
            2. I webbtjänsten kan personkunden meddela ändring av konton användarensnamn.
        </br>
        </br>
            Inloggning och registrering:
        </br>
            1. Inloggningen förutsätter identifiering med personliga e-postadress.
            Då kunden loggar in i webbtjänsten förutsätts det att hen registrerar sig 
            i tjänsten genom att ange giltig e-postadress.
        </br>
            2. Kunden ansvarar för att de kontaktuppgifter som hen anger är korrekta och uppdaterade.
        </br>
        </br>   
            Användning:
        </br>
            1. BokHyllan anger och bestämmer vilka de tekniska kraven är för användning av tjänsten och kan ändra dem vid behov. 
        </br>
            2. BokHyllan strävar till att tjänsten är tillgänglig på de vanligaste enheterna med effektiv kommunikationsanslutning. 
        </br>
            3. Personkunden ansvarar för att säkerställa funktionaliteten hos deras enheter och programvara när hen använder tjänsten.
        </br>
            4. Inför nödvändiga serviceavbrott i tjänsten under öppettider strävar BokHyllan till att informera i webbtjänsten i förväg.
        </br>
            5. Personkunden samtycker till att det kan uppstå tillfälliga avbrott i tjänsten när som helst. 
        </br>
            6. BokHyllan har rätt att stänga tjänsten till exempel på grund av underhåll eller andra nödvändiga orsaker.
        </br>
            7. BokHyllan har även rätt att stänga licensen och tjänsten utan förvarning, om de enheter, 
            dataprogram eller kommunikationer som används av personkunden eller användaren äventyrar dataskydd, säkerhet eller sekretess.
        </br>
            8. I ärenden gällande användningen av tjänsten, vänligen kontakta BokHyllan kundtjänst:
        </br>
            BokHyllan tfn 02023 0527, vid samtal från utlandet +358 02023 0527
        </br>
            bokhyllan@info
            Kundservicen är öppen vardagar kl. 8.00 och 16.00.
        </br>
        </br>
            Datasäkerhet:
        </br>
            1. Kunden och BokHyllan svarar båda för sina egna datasystem och för att systemens datasäkerhet är ändamålsenligt ordnad.
            Avtalsparterna svarar också för sin egen del för att personuppgifter hanteras tillräckligt omsorgsfullt och
            i enlighet med gällande lagstiftning så att datasekretessen är tryggad.
            På adressen http://host/policy finns en beskrivning av vilka personuppgifter
            BokHyllan samlar in över de registrerade och hur dessa uppgifter behandlas.
        </br>
        </br>
            Lag som tillämpas:
        </br>
            1. På detta avtal tillämpas Svesnkasland lag och dataskyddsförordning (GDPR) som gäller avtalet avgörs i Egentliga Svesnkasland tingsrätt.
        </p>

    </div>

{% endblock %}
