{% extends 'base.html' %}
{% block title %}Användarvillkor{% endblock %}
{% block content %}

    <div id="policy-div">
        <h1 id="policyh1">Bokhyllans Användarvillkor!</h1>

        <p class="spacing" id="policyp">
            Syfte
            Genom att logga in till Bokhyllan webbtjänst och godkänna användarvillkoren,
            använda webbtjänsten för byte av böcker.

            I webbtjänsten kan personkunden meddela ändring av konton användarensnamn.

            Inloggning och registrering
            Inloggningen förutsätter identifiering med personliga e-postadress.
            Då kunden loggar in i webbtjänsten förutsätts det att hen registrerar sig 
            i tjänsten genom att ange giltig e-postadress.
            Kunden ansvarar för att de kontaktuppgifter som hen anger är korrekta och uppdaterade.
            
            Användning
            BokHyllan anger och bestämmer vilka de tekniska kraven är för användning av tjänsten och kan ändra dem vid behov. 
            BokHyllan strävar till att tjänsten är tillgänglig på de vanligaste enheterna med effektiv kommunikationsanslutning. 
            Personkunden ansvarar för att säkerställa funktionaliteten hos deras enheter och programvara när hen använder tjänsten.
            Inför nödvändiga serviceavbrott i tjänsten under öppettider strävar BokHyllan till att informera i webbtjänsten i förväg.
            Personkunden samtycker till att det kan uppstå tillfälliga avbrott i tjänsten när som helst. 
            BokHyllan har rätt att stänga tjänsten till exempel på grund av underhåll eller andra nödvändiga orsaker.
            BokHyllan har även rätt att stänga licensen och tjänsten utan förvarning, om de enheter, 
            dataprogram eller kommunikationer som används av personkunden eller användaren äventyrar dataskydd, säkerhet eller sekretess.
            I ärenden gällande användningen av tjänsten, vänligen kontakta BokHyllan kundtjänst:
            För ändring av kontonummer, beställning av arbetspensionskort eller intyg över utbetald pension eller förmån
            BokHyllan tfn 02023 0527, vid samtal från utlandet +358 02023 0527
            bokhyllan@info
            Kundservicen är öppen vardagar kl. 8.00 och 16.00.
            Ansvar för att uppgifterna är korrekta
            De uppgifter som ges via webbtjänsten är bindande för personkunden.
            Personkunden ansvarar för att uppgifterna är korrekta.
            Personkunden ansvarar för all användning av tjänsten som sker med hens användaruppgifter.
            Datasäkerhet
            Kunden och BokHyllan svarar båda för sina egna datasystem och för att systemens datasäkerhet är ändamålsenligt ordnad.
            Avtalsparterna svarar också för sin egen del för att personuppgifter hanteras tillräckligt omsorgsfullt och
            i enlighet med gällande lagstiftning så att datasekretessen är tryggad.
            På adressen http://127.0.0.1:5000/policy finns en beskrivning av vilka personuppgifter
            BokHyllan samlar in över de registrerade och hur dessa uppgifter behandlas.
            Lag som tillämpas
            På detta avtal tillämpas Svesnkasland lag och dataskyddsförordning (GDPR) som gäller avtalet avgörs i Egentliga Svesnkas tingsrätt.
        </p>

    </div>

{% endblock %}
