{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
  <div id="button-container">
  <button id="refresh-btn">Slumpa en bok!</button>
  </div>
  <div id="chosen-book">
    <p id="randombook" >Chosen Book:</p>
    <div id="book-info">
      {% if book.cover_pic %}
        <img src="{{ url_for('static', filename=book.cover_pic) }}" alt="Book Cover" id="book-cover">
      {% endif %}
      <p id="randomtitle">Title: {{ book.title }}</p>
      <p id="randomauthor"> Author: {{ book.author }}</p>
    </div>
  </div>

  <script>
    document.getElementById('refresh-btn').addEventListener('click', function() {
      location.reload();
    });
  </script>
{% endblock %}
