{% extends "base.html" %}
{% block title %}Sökresultat{% endblock %}
{% block content %}

    <div id="search-result-div">

            <div id="search-div">
                <form method= "POST" action="/search" class="form-inline my-2 my-lg-0">
                    <input name="searched" class="form-control mr-sm-2" type="search" placeholder="Titel, författare..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
                </form>
            </div>

        <h1>Sökresultat</h1>

        {% for book in result %}
        <a href="{{ url_for('views.book_file', book_id=book.id) }}">
            <ul>
                <li>
                    Titel: {{ book.title }}
                </li>
                <li>
                    Författare: {{ book.author }}
                </li>
                <li>
                    ISBN: {{ book.isbn }}
                </li>
                <li>
                    Beskrivning: {{ book.review }}
                </li>
            </ul>
        </a>
        {% endfor %}

    </div>

{% endblock %}
