{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

    <div id="sign-up-div">

        <form id="sign-up" method="POST">
            <h3>Registrera nytt konto</h3>
                <div class="form-group">
                    <label for="email">Mejladress</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        name="email" 
                        placeholder="exempel@email.se"/>
                </div>
                <div class="form-group">
                    <label for="firtName">Namn</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="firstName" 
                        name="firstName" 
                        placeholder="Namn"/>
                </div>
                <div class="form-group">
                    <label for="password1">Lösenord (minst 8 tecken)</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        id="password1" 
                        name="password1" 
                        placeholder=""/>
                </div>
                <div class="form-group">
                    <label for="password2">Bekräfta lösenord</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="password2" 
                        name="password2" 
                        placeholder=""/>
                </div>

            <button type="submit" class="btn btn-primary">Registrera</button>

        </form>

    </div>
{% endblock %}