* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display SC', serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white no-repeat;
  background-size: cover;
  background-position: center;
}

.error-info {
  text-align: justify;
  position: absolute;
  left: 50%;
  top: 20%;
  max-width: 100%;
  width: 40%;
  height: 15vh;
  background: transparent;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.error-info h1 {
  margin-top: 10%;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  color: #422800;
}

.error-info a {
  text-decoration: none;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  color: #422800;
}

.error-info p {
  text-align: center;
  color: #422800;
}

.quote404 {
  left: 30%;
  position: absolute;
  top: 60%;
  width: 20%;
  height: 30vh;
  background: transparent;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.quote404 h2 {
  margin-bottom: 5vh;
}

.quote404 h3 {
  position: absolute;
  bottom: 0;
}

.img404 {
  max-width: 100%;
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.drink-me {
  right: 30%;
  position: absolute;
  top: 30%;
  width: 25%;
  height: 65vh;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
