/*
Tidigare bakgrundsfärger
body {
    background-color: #9F624F;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

Formulär
    background-color: #edc5b8;
    border: 3px solid #f8f9fa;

#intro 
   color:#dccaae;

#intro b
    color:#edd5cc;
*/

body {
    background-color:#fffcf9 ;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.navbar {
    background-color:rgb(255, 183, 50);
}

#add-book-div {
    width:75%;
    margin:auto;
    margin-top:1em;
}

#add-book-form {
    background-color: rgb(255, 210, 126);
    position: sticky;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    padding: 5%
}

#add-book-text {
    font-size: 80%;
}
    
#Login {
    background-color: rgb(255, 210, 126);
    position: absolute;
    right: 10%;
    margin-top: 5%;
    border-radius: 5%;
    padding: 3%;
}

#Login > h3 {
    text-align:center;
    margin-top:1em;
}

#sign-up-div {
    width:75%;
    margin:auto;
    margin-top:1em;
}

#add-bio-div {
    width: 75%;
    margin:auto;
    margin-top:1em;
}

#add-bio-div > form {
    margin-top: 1em;
}

#edit-profile-div {
    width:75%;
    margin:auto;
    margin-top:1em;
}

#edit-profile-div > form > h3 {
    margin-top:2em;
}

#add-pic-div {
    width:75%;
    margin:auto;
    margin-top:1em;
}

footer {
    background-color: rgb(255, 183, 50);
    color: #F7E7CE;
    position: fixed;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer > p {
    margin-top: 1em;
}

#intro {
   color:rgb(127, 28, 122);
   position: absolute;
   padding-top: 10%;
   padding-right: 50%;
}

#intro b {
    font-size: medium;
    color:rgb(127, 28, 122);
}

/* Knappar */ 
    .btn-primary {
        color: #fff;
        background-color:#9c379b;
        border-color: #9c379b;
        margin-top:1em;
    }

    .btn-primary:hover {
        background-color:rgb(127, 28, 122);
        color:white;
        border-color:rgb(127, 28, 122);
    }
