body {
    background-color: #9F624F;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 2px;
    }

#Laddabok{
    background-color: #edc5b8;
    position: fixed;
    right: 10%;
    margin-top: 5%;
    border: 3px solid #f8f9fa;
    border-radius: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}
    
#Login{
    background-color: #edc5b8;
    position: absolute;
    right: 10%;
    margin-top: 5%;
    border: 3px solid #f8f9fa;
    border-radius: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
   
    
}

footer {
    background-color: #59372B;
    color: #F7E7CE;
    position: fixed;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
}

#intro {
   color:#dccaae;
   position: absolute;
   padding-top: 10%;
   padding-right: 50%;

}

#intro b {
    font-size: medium;
    color:#edd5cc;

}

.btn-primary {
    color: #fff;
    background-color:#59372B;
    border-color: #000509;
    margin-top:1em;
  }