/*
Färgkoder tagna direkt från postern
Från orange till rosa:
#F97821 - klarorange
#F96E4D 
#F96570
#F9618B
#FA59BA - klarrosa

https://getcssscan.com/css-box-shadow-examples
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
*/

body {
    background-color:#fffcf9;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.navbar {
    background-color:#F97821;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}


#home-div,
#add-book-div,
#sign-up-div,
#add-bio-div,
#edit-profile-div,
#edit-book_div,
#add-pic-div,
#policy-div,
#search-div,
#all-books-div {
    width:75%;
    margin:auto;
    margin-top:3em;
}


#add-book-form,
#sign-up,
#Login,
#edit-profile,
#edit-book-form {
    background-color: rgb(255, 210, 126);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/*
#user-points {

}

#user-pic {

}
*/

#user-bio {
    float:right;
    margin-top: 3em;
}

#user-books {
    float:left;
}


#add-book-form {
    position: sticky;
    margin-top: 5%;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

/*
#add-book-text {
    font-size: 80%;
}
 */ 

#Login {
    position: absolute;
    right: 15em;
    margin-top: 5%;
    border-radius: 25px;
    padding: 2.5em;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

#Login > h3 {
    text-align:center;
    margin-top:1em;
}

#sign-up {
    margin-top: 5%;
    margin-bottom: 3em;
    border-radius: 35px;
    padding: 2.5em;;
}

.form-control {
    border-radius:0.75rem;
}

#add-bio-div > form {
    margin-top: 1em;
}

#edit-profile-div {
    position: relative;
    margin-bottom: 3em;
  }

#edit-profile {
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

#user-books-div {
    margin-bottom: 3.5em;
    width:75%;
    margin-top:3em;
}

#delete-profile {
    background-color: rgb(255, 210, 126);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

footer {
    background-color: #ff934b;
    color: #F7E7CE;
    position: fixed;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer > p {
    margin-top: 1em;
}

#intro {
    color:#F96570;
    position: absolute;
    padding-top: 10%;
    padding-right: 50%;
}
 
#intro b {
     font-size: medium;
     color:#F96E4D;
}

/* Knappar */ 
    .btn-primary {
        color: #fff;
        background-color:#F9618B;
        border-color: #F9618B;
        margin-top:1em;
        border-radius:10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    .btn-primary:hover {
        background-color:rgb(127, 28, 122);
        color:white;
        border-color:rgb(127, 28, 122);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }


#policyh1,
#policyp {
    text-align: center;
}

#policyp {
    background-color: rgb(255, 210, 126);
    padding: 2.5em;
    border-radius: 55px;
    margin-bottom: 3.5em;
}

.message-box {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 210, 126);
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: stretch;
}
  
  .messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
  
  .inputs {
    padding: 10px;
    display: flex;
  }
  
  h2 {
    text-align: center;
  }
  
  #message {
    flex: 1;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #chosen-book {
    position: relative;
    text-align: center;
    height: 100vh;
  }
  
  #book-cover {
    width: 300px;
    height: 500px;
    background-color: rgb(255, 210, 126);
    padding: 2.5em;
    border-radius: 55px;
    margin: 0 auto 3.5em;
  }
  
  #refresh-btn {
    display: block;
    margin: 1em auto;
    width: 200px;
    height: 40px;
    background-color: #F97821;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  
  #refresh-btn:hover {
    background-color: #fff;
  }
  
  #refresh-btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    #refresh-btn {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  #randomtitle,#randomauthor{
    font-size: larger;
  }

  
  #valjdinfarg{
    color: rgba(0, 0, 0, 0.5);
    list-style: none;
  }
  #valjdinfarg:hover{
    color: black;
  }
  .dropdown-item.no-bullet {
    list-style: none;
  }






  
  /* Error-sidor */
  #error-400-div, 
  #error-500-div, 
  #error-505-div{
    background-color:#F9618B;

  }

  .error-info{
    background-color:#F97821; /*Kommentar: ändra färg på denna sen*/
    box-shadow:rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  .error-info h1{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #422800;

  }

  .error-info p{
    text-align: center;
    color: #422800;

  }

  .quote404{
    width: 20%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    text-align: center;
    color: #422800;
  }

  .quote500{
    width: 20%;
    border-style:;
    box-shadow:rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    text-align: center;
    color: #422800;
  }


  .quote505{
    width: 20%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    text-align: center;
    color: #422800;
  }


  #drink-me{
    display: none; /* Dölj popupen från början */
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8); /* En svart transparent bakgrund */

  }

  #drink-me img{
  display: block;
  margin: auto;
  margin-top: 20%;
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;

  }