/*
Färgkoder tagna direkt från postern
Från orange till rosa:
#F97821
#F96E4D
#F96570
#F9618B
#FA59BA
*/

body {
    background-color:#fffcf9 ;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.navbar {
    background-color:rgb(255, 183, 50);
}

#add-book-div, #sign-up-div, #add-bio-div, #edit-profile-div, #add-pic-div, #policy-div {
    width:75%;
    margin:auto;
    margin-top:1em;
}

#add-book-form, #Login {
    background-color: rgb(255, 210, 126);
}


#add-book-form {
    position: sticky;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 35px;
    padding: 5%
}

#add-book-text {
    font-size: 80%;
}
    
#Login {
    position: absolute;
    right: 10%;
    margin-top: 5%;
    border-radius: 25px;
    padding: 3%;
}

#Login > h3 {
    text-align:center;
    margin-top:1em;
}

#add-bio-div > form {
    margin-top: 1em;
}

#edit-profile-div{
    position: relative;
    padding-bottom: 10%;
  }

#edit-profile-div > form > h3 {
    margin-top:2em;
}

footer {
    background-color: rgb(255, 183, 50);
    color: #F7E7CE;
    position: fixed;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer > p {
    margin-top: 1em;
}

#intro {
   color:rgb(127, 28, 122);
   position: absolute;
   padding-top: 10%;
   padding-right: 50%;
}

#intro b {
    font-size: medium;
    color:rgb(127, 28, 122);
}

/* Knappar */ 
    .btn-primary {
        color: #fff;
        background-color:#9c379b;
        border-color: #9c379b;
        margin-top:1em;
    }

    .btn-primary:hover {
        background-color:rgb(127, 28, 122);
        color:white;
        border-color:rgb(127, 28, 122);
    }


#policyh1, #policyp{
    text-align: center;
}
#policyp{
    background-color: rgb(255, 210, 126);
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 55px;
}