/*
Färgkoder tagna direkt från postern
Från orange till rosa:
#F97821 - klarorange
#F96E4D 
#F96570
#F9618B
#FA59BA - klarrosa

https://getcssscan.com/css-box-shadow-examples
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
*/

body {
  background-color: #fffcf9;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  letter-spacing: 3px;
}

.navbar {
    background-color:#F97821;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

/* Knappar */ 
  .btn-primary,
  .btn-outline-success {
    color: whitesmoke;
    background-color:#F9618B;
    border-color: #F9618B;
    margin-top:1em;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, 
                rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .btn-primary:hover,
  .btn-outline-success:hover {
    background-color:rgb(127, 28, 122);
    color:whitesmoke;
    border-color:rgb(127, 28, 122);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
                rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

/* Länkar */
  a {
    color:rgb(51, 51, 51) !important;
  }
  a:hover {
    color:#F9618B
  }

#home-div,
#add-book-div,
#sign-up-div,
#add-bio-div,
#edit-profile-div,
#edit-book-div,
#add-pic-div,
#all-books-div,
#search-result-div,
#user-books-div {
    width:75%;
    margin:auto;
    margin-top:3em;
}


#add-book-form,
#sign-up,
#edit-profile,
#edit-book-form,
#add-bio-form,
#user-info-div {
  background-color: rgb(255, 210, 126);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/*Positionering av home.html med grids*/
  #home-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; /* Automatically adjust the height based on content */
    gap: 1em;
    align-items: flex-start;
    grid-template-areas: 
      "user-header user-header"
      "user-books user-pic"
      "user-books user-bio"
      "user-books user-points";
  }

  #user-info-div {
    margin-top: 1em;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
  }

  #user-header {
    grid-area: user-header; 
  }

  #user-pic {
    grid-area: user-pic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }

  #user-bio {
    grid-area: user-bio;
  }

  #user-books {
    grid-area: user-books;
    margin-top: 1em;
    margin-bottom: 3.5em;
  }

  #user-points {
    grid-area: user-points;
    margin-top:2em;
  }

  @media screen and (max-width: 991px) {
    #home-div {
      grid-template-columns: 1fr; 
      grid-template-rows: auto auto; 
      grid-template-areas:
        "user-header"
        "user-pic"
        "user-bio"
        "user-points"
        "user-books";
    }
  }

#Login {
  background-color: rgb(255, 210, 126);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  

}

#Login form {
  margin-top: 15;

}

#user-bio {
    float:right;
    margin-top: 3em;
}

#user-books {
    float:left;
}


#add-book-form,
#edit-book-form {
    position: sticky;
    margin-top: 5%;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

/*
#add-book-text {
    font-size: 80%;
}
 */ 

#Login {
    position: absolute;
    right: 12%;
    width: 30%;
    height: 60%;
    margin-top: 5%;
    border-radius: 25px;
    padding: 2.5em;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

#Login > h3 {
    text-align:center;
    margin-top:1em;
}

#sign-up {
    margin-top: 5%;
    margin-bottom: 3em;
    border-radius: 35px;
    padding: 2.5em;;
}

.form-control {
    border-radius:0.75rem;
}

#add-bio-form {
    margin-top: 1em;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em
}

#edit-profile-div {
    position: relative;
    margin-bottom: 3em;
  }

#edit-profile {
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

#user-books-div, #delete-book-div {
    margin-bottom: 3.5em;
    width:75%;
    margin-top:3em;
}

#delete-profile {
    background-color: rgb(255, 210, 126);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

/* Om man vill göra böckerna till samma stil som formulären
#book-list-div {
  background-color: rgb(255, 210, 126);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-bottom: 3.5em;
  border-radius: 35px;
  padding: 2.5em;
}
*/

/* Styling av all_books bilder och text
Behöver läggas till @media för responsivitet*/
  #all-books-div {
    margin-bottom: 3.5em;
  }

  #book-list-div {
    padding-top:20px;
    padding-bottom:20px;
    display: flex
  }

  #book-list-img-div {
    display: flex;
    align-items: flex-start;
  }

  #book-list-img-div img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  #book-list {
    list-style-type: none;
    margin-left: 10px;
    padding: 1em;
    max-width: 500px;
  }

footer {
    background-color: #ff934b;
    color: #F7E7CE;
    position: fixed;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer > p {
    margin-top: 1em;
}


.welcome {
  position: absolute;
  background-color: #ffd586;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 2%;
  width: 30%;
  height: 60%;
  left: 8%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(240, 46, 170, 0.4) -5px -5px,
              rgba(240, 46, 170, 0.3) -10px -10px,
              rgba(240, 46, 170, 0.2) -15px -15px,
              rgba(240, 46, 170, 0.1) -20px -20px,
              rgba(240, 46, 170, 0.05) -25px -25px;
}

.welcome img {
  margin-top: 2%;
  margin-right: 3%;
  position: absolute;
  float: left;
  width: 100%;
  height: auto;
}

.welcome p {
  color: #F97821;
  margin-left: 3%;
  margin-right: 3%;
  top: 15%;
  bottom: 10%;
  position: absolute;
  text-align: center;
  font-size: 1w; /* Använda vw-enheter för responsiv textstorlek. */
  font-weight: 800;
  margin-top: 50%;
}

.welcome p .highlighted {
  font-size: 1vw; /*Använda vw-enheter för responsiv textstorlek.*/
}

  /*Ytterligare stilar för att göra container responsiv*/
  @media screen and (max-width: 768px) {
    .welcome {
        width: 90%;
        left: 5%;
        margin: 10% auto;
    }

    .welcome img {
        height: auto;
    }

    .welcome p {
        font-size: 4vw;
        margin-top: 40%;
    }

    .welcome p .highlighted {
        font-size: 5vw;
    }
  }


#policyh1,
#policyp {
  text-align: center;
}

#policy-div{
  width:75%;
  margin:auto;
  margin-top:3em;
  text-align: left;
}

#policyp {
    text-align: left;
    background-color: rgb(255, 210, 126);
    padding: 2.5em;
    border-radius: 55px;
    margin-bottom: 3.5em;
}



.message-box {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 210, 126);
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: stretch;
}
  
  .messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
  
  .inputs {
    padding: 10px;
    display: flex;
  }
  
  
  #message {
    flex: 1;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #chosen-book {
    position: relative;
    text-align: center;
    height: 100vh;
  }
  
  #book-cover {
    width: 300px;
    height: 500px;
    background-color: rgb(255, 210, 126);
    padding: 2.5em;
    border-radius: 55px;
    margin: 0 auto 3.5em;
  }
  
  #refresh-btn {
    display: block;
    margin: 1em auto;
    width: 200px;
    height: 40px;
    background-color: #F97821;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  
  #refresh-btn:hover {
    background-color: #fff;
  }
  
  #refresh-btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
    @media (min-width: 768px) {
      #refresh-btn {
        min-width: 120px;
        padding: 0 25px;
      }
    }
  #randomtitle,#randomauthor{
    font-size: larger;
  }

  
  #valjdinfarg{
    color: rgba(0, 0, 0, 0.5);
    list-style: none;
  }
  #valjdinfarg:hover{
    color: black;
  }
  .dropdown-item.no-bullet {
    list-style: none;
  }


/* att det blir en "fade transition" för flashmedelandena*/
  .fade-out {
    animation: fadeOut 10s forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

/* Dark Theme */
body.dark {
  background-color: #F97821;
 
}


.navbar-dark {
  background-color: white; 
  
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.dropdown-menu .dropdown-item {
  color: black;
}

.dark-icon {
  color: black;
}

/* CSS for the toggler button in dark theme */
.dark-button {
  background-color: #F97821;
}

#edit-profile-div form label,
#edit-profile-div form input[type="text"]::placeholder,
#edit-profile-div form input[type="password"]::placeholder,
#edit-profile-div form input[type="checkbox"] + label {
  color: black;
}
#add-book-div form label,
#add-book-div form input[type="text"]::placeholder,
#add-book-div form textarea::placeholder {
  color: black;
}

#add-book-text {
  color: black;
}

.profile-pic-wrapper {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.profile-pic-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(123, 123, 123, 0.8); 
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-wrapper:hover img {
  filter: grayscale(10%); 
}

.profile-pic-wrapper:hover .profile-pic-overlay {
  opacity: 1;
}

.overlay-text {
  color: rgb(198, 198, 198); 
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
  padding: 8px;
}
