body {
    background-color: #9F624F;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

#Laddabok{
    background-color: #edc5b8;
    width: 50%;
    position: sticky;
    right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid #f8f9fa;
    border-radius: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}
    
#Login{
    background-color: #edc5b8;
    position: absolute;
    right: 10%;
    margin-top: 5%;
    border: 3px solid #f8f9fa;
    border-radius: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#Login > h3 {
    text-align:center;
    margin-top:1em;
}

#sign_up {
    margin:auto;
    width:75%;
}

#add-bio-div {
    width: 75%;
    margin:auto;
}

#add-bio-div > form {
    margin-top: 1em;
}

footer {
    background-color: #59372B;
    color: #F7E7CE;
    position: fixed;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#intro {
   color:#dccaae;
   position: absolute;
   padding-top: 10%;
   padding-right: 50%;
}

#intro b {
    font-size: medium;
    color:#edd5cc;
}

/* Knappar */ 
    .btn-primary {
        color: #fff;
        background-color:#59372B;
        border-color: #000509;
        margin-top:1em;
    }

    .btn-primary:hover {
        background-color:rgb(110, 130, 160);
        color:white;
        border-color:rgb(110, 130, 160);
    }
