/*
Färgkoder tagna direkt från postern
Från orange till rosa:
#F97821 - klarorange
#F96E4D 
#F96570
#F9618B
#FA59BA - klarrosa

https://getcssscan.com/css-box-shadow-examples
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
*/

body {
    background-color:#fffcf9;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.navbar {
    background-color:#F97821;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}


#home-div, #add-book-div, #sign-up-div, #add-bio-div, #edit-profile-div,
#add-pic-div, #policy-div, #search-div, #all-books-div {
    width:75%;
    margin:auto;
    margin-top:3em;
}


#add-book-form, #sign-up, #Login, #edit-profile {
    background-color: rgb(255, 210, 126);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/*
#user-points {

}

#user-pic {

}
*/

#user-bio {
    float:right;
    margin-top: 3em;
}

#user-books {
    float:left;
}


#add-book-form {
    position: sticky;
    margin-top: 5%;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

#add-book-text {
    font-size: 80%;
}
    
#Login {
    position: absolute;
    right: 15em;
    margin-top: 5%;
    border-radius: 25px;
    padding: 2.5em;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

#Login > h3 {
    text-align:center;
    margin-top:1em;
}

#sign-up {
    margin-top: 5%;
    margin-bottom: 3em;
    border-radius: 35px;
    padding: 2.5em;;
}

.form-control {
    border-radius:0.75rem;
}

#add-bio-div > form {
    margin-top: 1em;
}

#edit-profile-div {
    position: relative;
    margin-bottom: 3em;
  }

#edit-profile {
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

#delete-profile {
    background-color: rgb(255, 210, 126);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 3.5em;
    border-radius: 35px;
    padding: 2.5em;
}

footer {
    background-color: #ff934b;
    color: #F7E7CE;
    position: fixed;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer > p {
    margin-top: 1em;
}

#intro {
    color:#F96570;
    position: absolute;
    padding-top: 10%;
    padding-right: 50%;
}
 
#intro b {
     font-size: medium;
     color:#F96E4D;
}

/* Knappar */ 
    .btn-primary {
        color: #fff;
        background-color:#F9618B;
        border-color: #F9618B;
        margin-top:1em;
        border-radius:10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    .btn-primary:hover {
        background-color:rgb(127, 28, 122);
        color:white;
        border-color:rgb(127, 28, 122);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }


#policyh1, #policyp{
    text-align: center;
}
#policyp{
    background-color: rgb(255, 210, 126);
    padding: 2.5em;
    border-radius: 55px;
    margin-bottom: 3.5em;
}

.message-box {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 210, 126);
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: stretch;
  }
  
  .messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
  
  .inputs {
    padding: 10px;
    display: flex;
  }
  
  h2 {
    text-align: center;
  }
  
  #message {
    flex: 1;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
